<% @availableUsers.each do |user| %>
  <p> <%= user.first_name %> <%= user.last_name %> </p>
  <%= form_for(@friendRequest, url: {controller: :friend_request, action: :create}) do |f| %>
    <%= f.label :friended_id %>
    <%= f.hidden_field :friended_id, :value => user.id %>
    <%= f.submit "Submit" %>
  <% end %>

 
<% end %>