<p> HERE IS THE FORM BELOW </p>
<% if (current_user.recieved_friend_request_users.include?(@avail)) %>
	<%= form_for(@friendRequest, url: {controller: :friend_request, action: :create}) do |f| %>
		<%= f.label :friended_id %>
		<%= f.hidden_field :friended_id, :value => @avail.id %>
		<%= f.submit "Submit" %>
	<% end %>
<% else %>
	<%= form_for(@friendRequest, url: {controller: :friend_request, action: :create}) do |f| %>
		<%= f.label :friended_id %>
		<%= f.hidden_field :friended_id, :value => @avail.id %>
		<%= f.submit "Accept?" %>
	<% end %>
<% end %>

