<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-inverse">
  	  <div class="container-fluid">
  	    <div class="navbar-header">
  	      <a class="navbar-brand" href="/user/">FakeBook</a>
  	    </div>
  	    <ul class="nav navbar-nav">
  	      <% if user_signed_in? %>
	  	      <li><a href="/post">Feed</a></li>
	  	      <li><a href=<%="/user/#{current_user.id}"%>><%= current_user.first_name %></a></li>
	  	      <li>
	  	      <%= form_tag("/search", method: "get") do %>
	  	        <%= label_tag(:search, "Search for:") %>
	  	        <%= text_field_tag(:search) %>
	  	        <%= submit_tag("Search") %>
	  	      <% end %>
	  	  	  </li>
	  	      <li><a href="/requests">Friend Requests: <%= current_user.recieved_friend_requests.size %> </a></li>
	  	      <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
  	      <% end %>
  	    </ul>
  	  </div>
  	</nav>

    <%= yield %>
  </body>
</html>
